body {
  margin: auto;
  width: auto;
  padding: 50px;
  font-family: Raleway, 'Arial', sans-serif;
  color: #43576b;
  background-color: black;
}

/* Centered Image Code */

.center {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}
